:root {
  --first-font: "Montserrat", sans-serif;
  --second-font: "Josefin Sans", sans-serif;

  --first-bg-color: #0a0a0a;
  --second-bg-color: #fafafa;
  --third-background-color: #a9927d;
  --forth-background-color: #523629;

  --first-text-color: #212121;
  --second-text-color: #fafafa;
  --third-text-color: #707070;

  --contrast-color: #ffd35a;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--first-font);
  overflow-x: hidden;
  background-color: var(--second-bg-color);
  color: var(--first-text-color);
  margin: 0;
  padding-bottom: 0;
}

main > .container-fluid {
  padding-top: 30px;
}

h1,
h2 {
  font-family: var(--second-font);
  text-transform: uppercase;
}

h2 {
  margin-block: 10px;
}
